/** @format */

/* .aboutImg {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*-webkit-filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);*/
  /* object-position: right; */


/*.logoMd{
  height: 50px;
  width: 50px;
}

.linkIcons{
  cursor:pointer;
  padding: 0 .5rem

}

} */