/** @format */

.section {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordFormat {
  color: #ffffff;
}

.M {
  display: inline;
  color: #c6c600;
}

