

*{
    margin: 0;
    padding: 0;
}


/* body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #283756;
    /* margin: 6rem 6rem; */
    
/* } */ */

ul li{
    text-decoration: none;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
    gap: 10rem;

    

      
}

 .navBar, ul, footer{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    

}

.intro-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 6rem;
    
}

.heading{
    font-weight: bold;
    font-size: 70px;
    color: #5A75AB;
    max-width: max-content;

}
.kampala-home{
    font-size: 60px;
    color: #C6C600;
}

span{
    font-size: 25px;
    font-weight: bold;
    word-wrap: none;
}

.kampala{
    color: #C6C600;
}



.navBar{
    padding: .5rem;
    /* color: #283756; */
    font-size: 20px;
}

ul{
    display: flex;
}

ul li{

    list-style: none;
    text-decoration: none;
    
}
/* 
ul li:hover{
    /* background-color: aliceblue; */
    
/* } */

button{
    border: none;
    padding: .5rem;
    border-radius: 5px;
    font-weight: bold;
}

button > a {
    color: white;
    
}

.joinBtn{
    background-color: #C6C600;
}

.loginBtn{
    background-color: #5A75AB;
}

a{
    text-decoration: none;
    color: #283756;
    font-size: 15px;
    font-weight: 600;
    
} 

.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* home Page */


.content{
    width: 60%;
    position: relative;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.descr{
    /* Open Source Community Africa (OSCA) is a community for open source lovers, enthusiasts, advocates and experts within and across Africa, with the sole aim of increasing th e rate of credible open source contributions by Africans. */



font-style: normal;
font-weight: medium ;
font-size: 18px;
line-height: 150%;
/* or 45px */
letter-spacing: 0.05em;
opacity: 80%;

color: #283756;


}



/* events */

.image{
/* height: 90vh;  */
background-color:url('../public/community.png');

height: 40vh;
/* background-color: #283756; */
text-align: center;
/* color: #ffffff; */

/* padding: 6rem; */
}

.image > p{

    padding-top: 7rem;
    
}


/* footer */

footer{
    padding: 5rem 10rem;
    height: max-content;

    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
    
}

.social > ul{
    display: block;
    background-color: #ffffff;
    /* max-width:  */
}



.logoWords, .kampalaSm{
    font-size: 12px;
    font-weight: bold;
}

.kampalaSm{
    color: #C6C600;
}

.footerLogo{
    display: flex;
    align-items: center;
}


.footerOne{
    min-width: max-content
}


.form-section{
    padding: 2rem 1rem;
    margin: 8rem;
    display: flex;
    justify-content: center;
    /* width: max-content; */
    
    
}

form{
    line-height: 50px;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
    

}

.form{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    padding: 1rem 4rem;
}

input{
    margin-right: 5rem;
    border-radius: 5px;
    border:none;
    background-color: #e4e0e0;
    padding: .5em;
    box-shadow: inset 0px 0px 2px .5px rgba(101, 113, 122, 0.3);
}
